---
const images = [
    "/gallery/1.webp",
    "/gallery/2.webp",
    "/gallery/3.webp",
    "/gallery/4.webp",
    "/gallery/5.webp",
    "/gallery/6.webp",
    "/gallery/7.webp",
    "/gallery/8.webp",
    "/gallery/9.webp",
    "/gallery/10.webp",
    "/gallery/11.webp",
    "/gallery/12.webp",
    "/gallery/13.webp",
];
---
<div class="carousel carousel-vertical rounded-box h-96">
    {images.map((src, index) => (
            <div class="carousel-item h-full">
                <img src={src} alt={`Slide ${index + 1}`} />
            </div>
    ))}
</div>
