<section class="h-screen flex flex-col md:flex-row lg:justify-center p-4 lg:p-10 gap-2 lg:gap-10 text-white text-xl bg-white">
    <div class="flex md:relative flex-col items-center lg:items-end justify-center top-1/5 bg-2C5E6CFF lg:w-2/3 md:h-1/3 p-4 mt-20 md:mt-0 lg:p-10">
        <h1 class="text-yellow text-2xl font-bold lg:w-1/2">Misión</h1>
        <p class="xl:w-1/2">
            Somos una organización que trabaja con los más necesitados, proveyendo oportunidades de desarrollo integral para mejorar las condiciones de vida de los niños, jóvenes, familias y comunidad.
        </p>
    </div>
    <div class="flex md:relative flex-col items-center lg:items-start justify-center top-1/5 bg-2C5E6CFF lg:w-2/3 md:h-1/3 p-4 lg:p-10">
        <h1 class="text-yellow text-2xl font-bold w-1/2">Visión</h1>
        <p class="xl:w-1/2">
            En el 2029 seremos referentes en el desarrollo integral y el servicio comprometido con la niñez, juventud, familia y comunidad.
        </p>
    </div>
</section>
